<div>
    <table>
        <thead>
        <tr>
            <th>Applikasjon</th>
            <th>Ny versjon</th>
            <th>Tilhørende brukerhistorier</th>
            <th>Vises for sluttbruker<br/>i prod</th>
            <th>Feature toggle på<br/>i prod</th>
            <th>Kommentar</th>
            <th>Q0 regresjonstest</th>
        </tr>
        </thead>
        <tbody>
        {{#applications}}
            <tr>
                <td>{{name}}</td>
                <td>{{version}}</td>
                <td>
                {{#issueKeys}}

                    <ac:structured-macro ac:name="jira" ac:schema-version="1" ac:macro-id="49b7c77e-8637-4920-9dd3-e083da842b66">
                        <ac:parameter ac:name="server">Jira Prod</ac:parameter>
                        <ac:parameter ac:name="serverId">9a8a5698-c576-3af9-a61d-4c56256123c6</ac:parameter>
                        <ac:parameter ac:name="key">{{.}}</ac:parameter>
                    </ac:structured-macro>
                    <br/>

                {{/issueKeys}}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {{/applications}}
        </tbody>
    </table>
</div>