.issues-table {
    width: 100%;
    text-align: left;

    td, th {
        padding: 0.5rem;
    }

    .issue {
        width: 8rem;
    }

    .status {
        width: 10rem;
    }

    .assigned {
        width: 10rem;
    }

    tr:nth-of-type(2n), th {
        background: @navGra20;
    }
}

.release-note--applications {
    .application {
        page-break-inside: avoid;
    }
}
