.header {

  background-color: @navBlaDarken40;
  color: @white;
  padding: 1rem 1rem 1rem 3.5rem;

  &__spinner {
    float: right;
  }

  &__error {
    background-color: @navRod;
    padding: 1rem;
  }

  &__mode-toggle {
    float: right;
  }

  .left-side {
    flex-basis: 88%;
  }

}